@mixin boxShadow($size, $opacity) {
    -webkit-box-shadow: 0 1px $size rgba(0, 0, 0, $opacity);
    -moz-box-shadow: 0 1px $size rgba(0, 0, 0, $opacity);
    box-shadow: 0 1px $size rgba(0, 0, 0, $opacity);
}