$font-size: 16px;
$font-color: #666;

$primary-color: #fff;
$primary-blue: #0099cc;
$primary-orange: #f57c00;
$primary-red: crimson;
$secondary-color: darken(#fff,30%);
$section-background: #eff0f1;
$section-background-dark: #191919;