@import "_imports";

* {
  margin: 0px auto;
}

body {
    font-family: Oxygen,'sans-serif';
    font-size: $font-size;
    color: $font-color;
    line-height: 1.5em;

    h4 {
      color: $primary-red;
    }
    
    .sticky {
      z-index: 100;
      #contact {
        &.desktop {
          margin-top: 0px;
        }
      }
    }

    .container {
      padding: 0px;      
      @media #{$small} {
        padding: 0px 25px;
      }
      > .navbar-header {
        margin-right: 0px;
        margin-left: 0px;
      }
    }

    .navbar {
      border-radius: 0px;
      margin-bottom: 0px;
      background: $section-background-dark;

      &.navbar-inverse {
        border:0px;
      }
      .navbar-collapse {
        padding: 0 25px;
        @media #{$small} {
          padding: 0px;
        }
      }
      .navbar-brand {
        padding: 12px 10px;
      }
    }

    img {
      max-width: 100%;
    }


    header, section, footer {
      .row {        
        margin: 0 auto;
      }
    }

    section, footer {
      padding:80px 0px;

      ul {
        list-style: none;
        padding:0px;
      }    
    }

    .box-content {
      background:#fff;
      padding:15px;
      @media #{$small}{
        border-bottom: 4px solid $primary-orange;  
      }
      
      
      @include boxShadow(6px,0.3);

      li {
        border-bottom: 1px solid darken($section-background,10%);
        padding: 5px 0px;

        &:last-child {
          border-bottom: none;;
        }
      }
    }

    header {
      background:url('../images/banner-bg.png');      
      @include background(no-repeat, initial, cover);
      padding: 20px 0px; 

      .container {
        .logo {
          padding-left:10px;
        }
      }
      .header-title {
        padding-left:0px;
        display: table;
        height: 60px;
        
        h1 {
          color: $primary-orange;
          font-size: $font-size + 1;
          vertical-align: middle;
          display: table-cell;
          @media #{$small} {
            font-size: 35px;
            margin: 15px 0px;
          }
        }
      }
    }
      
    #contact {
      &.desktop {
        display:none;
      }
      background: $section-background-dark;      
      color: $primary-color;

      @media #{$medium} {
        &.mobile {
          display:none;
        }
        &.desktop {
          display:block;
          position: absolute;
          right: 5%;
          margin-top: -67px;
          padding:10px;
        }
      }

      h3,h5 {
        margin:0px 10px 0px 0px;
        display: inline;
        font-size: 14px;
        @media #{$medium} {
          display: block;
        }
      }
      
      h3 {
        font-weight: 100;        
        font-size: 16px;  
        @media #{$medium} {
          font-size: 25px;  
        }
      }

      h5 {
        margin-bottom: 5px;
        color: $primary-red;
      }
    }

    .banner {
      background: #000 url('../images/know-the-signs.png');      
      background-attachment: fixed;
      @include background(no-repeat, 50%, cover);
      height: 350px;      
      max-width: none;
      text-align: center;
      
      .banner-content {        
        text-align: left;

        h2 {          
          color: $section-background;
          background-color: $section-background-dark;
          font-weight: 100;
          display: inline;
          box-shadow: 10px 0 0 $section-background-dark, -10px 0 0 $section-background-dark;
          box-decoration-break: clone;
          padding: 5px 0px 7px 0px;
          font-size: 22px;
          line-height: 45px;

          @media #{$medium} {
            padding: 7px 0px;
            line-height: 56px;
            letter-spacing: 1px;  
            font-size: 30px;
          }  
        }
      }
    }

    #grooming {
      background:$section-background;  
      .image {
        display: block;
        margin-top: 80px;
        text-align: center;
      }
    }

    #date-rape-drugs {
      background-color: #000;
      color: $secondary-color;
      padding-top: 0px;

      //@media only screen and (min-width: 768px) and (max-width:992px) {          
      @media #{$medium} {
        padding: 0px;
        .dr-bg {        
          .image {
            height: 400px;
            display: table-cell;
            vertical-align: middle;
            img {
              height: 100%;
            }
          }
        }
      }
      
      .dr-text {
        padding: 25px 15px;
        @media #{$large} {
          padding: 40px 15px 50px 15px;
        }
        span {
          color: $primary-orange;
        }

        h3 {
          color: $primary-blue;
        }
      }
      
    }

    #prevention {
      background:antiquewhite;
      .telling-signs {
        margin-top: 30px;
        @media #{$large} {          
          margin-top: -160px;
        }
      }
    }
    
    #staying-safe {
      font-size: $font-size + 1;
      text-align: center;
      .col-sm-6 {
        text-align: left;
        height: 60px;
        margin-top: 50px;
      }

      ul {
        
        li {
          background: url('../images/icons/icon-circle.svg') no-repeat;
          background-size: 50px;          
          height: 50px;
          margin: 25px 0px;
          padding-left: 60px;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
    
    #past-events {
      background:$section-background;
    }

    #documentaries {
      background: $section-background-dark;
      color: $secondary-color;
      h2 {
        text-align: center;
        margin-bottom: 50px;
        color: $primary-blue;
      }

      h3 {
        margin-bottom: 25px;
      }
    }

    footer {
      background: $section-background-dark;
      color: $secondary-color;
      text-align: center;
    }
}

