* {
  margin: 0px auto;
}

body {
    
    padding: 25px;
    
    .wrapper {
      width: 100%;

      .banner {
          .banner-content {

          }
      }

      #awareness {
        .telling-signs {

        }
      }

      #grooming {

      }

      #prevention {

      }

      #staying-safe {

      }


    }
}

