@import "_imports";

* {
  margin: 0px auto;
}

body {
    font-family: Oxygen,'sans-serif';
    font-size: $font-size;
    color: $font-color;
    line-height: 1.5em;

    h4 {
      color: crimson;
    }
    
    .container {
      padding: 0px;      
      @media #{$small} {
        padding: 0px 25px;
      }
      > .navbar-header {
        margin-right: 0px;
        margin-left: 0px;
      }
    }

    .navbar {
      .navbar-collapse {
        padding: 0 25px;
        @media #{$small} {
          padding: 0px;
        }
      }
      margin-bottom: 0px;
      background: $section-background-dark;
    }

    img {
      max-width: 100%;
    }

    header {
      background:url('../images/banner-bg.png');      
      @include background(no-repeat, initial, cover);
      padding: 20px 0px; 

      .header-title {
        padding-left:0px;
        display: table;
        height: 60px;
        @media #{$small} {
          height: 80px;
        }
        @media #{$large} {
          height: 115px;
        }
        h1 {
          color: $primary-orange;
          font-size: $font-size + 2;
          vertical-align: middle;
          display: table-cell;
          @media #{$small} {
            font-size: 35px;
            margin: 15px 0px;
          }
        }
      }
    }

    header, section, footer {
      .row {        
        margin: 0 auto;
      }
    }

    section, footer {
      padding:25px 0px 45px 0px;
      
      img {
        width: 100%; 
      }

      ul {
        list-style: none;
        padding:0px;
      }    
    }
    
    .box-content {
      background:#fff;
      padding:15px;
      border-bottom: 4px solid $primary-orange;
      
      @include boxShadow(6px,0.3);

      li {
        border-bottom: 1px solid darken($section-background,10%);
        padding: 5px 0px;

        &:last-child {
          border-bottom: none;;
        }
      }
    }
    
    .banner {
      background: #000 url('../images/know-the-signs.png');      
      background-attachment: fixed;
      @include background(no-repeat, 50%, cover);
      height: 350px;      
      max-width: none;
      text-align: center;
      
      .banner-content {        
        text-align: left;
        margin-top: 50px;

        h2 {          
          color: $section-background;
          background-color: $section-background-dark;
          font-weight: 100;
          display: inline;
          box-shadow: 10px 0 0 $section-background-dark, -10px 0 0 $section-background-dark;
          box-decoration-break: clone;
          padding-bottom: 7px;
          font-size: 22px;
          line-height: 40px;

          @media #{$small} {
            padding-bottom: 10px;
            line-height: 54px;
            letter-spacing: 1px;  
            font-size: 30px;
          }  
        }
      }
    }

    #grooming {
      background:$section-background;
      .telling-signs {        
        @media #{$large} {          
          margin: -200px 0px 40px 0px;
        }
      }
    }

    #date-rape-drugs {
      background-color: #000;
      color: $secondary-color;
      padding-top: 0px;

      //@media only screen and (min-width: 768px) and (max-width:992px) {          
      @media #{$medium} {
        padding: 0px;
        .dr-bg {        
          .image {
            height: 348px;
            display: table-cell;
            vertical-align: middle;
            img {
              height: 100%;
            }
          }
        }
      }
      
      .dr-text {
        padding: 25px 15px;
        @media #{$large} {
          padding: 40px 15px 50px 15px;
        }
        span {
          color: $primary-orange;
        }

        h3 {
          color: $primary-blue;
        }
      }
      
    }

    #prevention {
      background:$section-background;
    }
    
    #staying-safe {
      
      ul {
        li {
          &:before {
            content: " ";
            width: 20px;
            height: 20px;
            background: $secondary-color;
          }
        }
      }      
    }

    #documentaries {
      background: $section-background-dark;
      color: $secondary-color;
    }

    footer {
      background: $section-background-dark;
      color: $secondary-color;
      text-align: center;
    }
}

